name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Micromamba
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: environment.yml
        environment-name: msptools
        cache-environment: true
        init-shell: bash
    
    - name: Set up CUDA (Ubuntu example)
      run: |
        sudo apt-get update
        sudo apt-get install -y nvidia-driver-530
        wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/cuda-ubuntu2004.pin
        sudo mv cuda-ubuntu2004.pin /etc/apt/preferences.d/cuda-repository-pin-600
        sudo apt-key adv --fetch-keys https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/3bf863cc.pub
        sudo add-apt-repository "deb https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/ /"
        sudo apt-get update
        sudo apt-get -y install cuda

    - name: Verify CUDA installation
      run: |
        nvidia-smi
        nvcc --version

    - name: Display conda environment
      shell: bash -el {0}
      run: |
        conda info
        conda list

    - name: Install project
      shell: bash -el {0}
      run: |
        pip install .
        
    - name: Run tests with pytest
      shell: bash -el {0}
      run: |
        pytest
