name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Micromamba
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: environment.yml
        environment-name: msptools
        cache-environment: true
        init-shell: bash

    - name: Install project
      run: |
        pip install .
    - name: Run tests with pytest
      run: |
        pytest
